<div class="home-container ">
  <div class="row">
    <div class="col">
      <div class="application-title text-center">
        <h1>Meshimatch</h1>
        <p>食べてみたいを探したい。</p>
      </div>
      </div>
    </div>
  </div>
</div>